DATABASE_URL=postgresql://usuario:contraseña@host:puerto/base_de_datos
SECRET_KEY=la_clave_secreta_acá

OBS_ACCESS_KEY="TU_NUEVO_ACCESS_KEY"
OBS_SECRET_KEY="TU_NUEVO_SECRET_KEY"
OBS_ENDPOINT="https://obs.la-south-2.myhuaweicloud.com"

OBS_BUCKET_NAME="nombre-bucket"

PUBLIC_URL_BASE="https://nombre-bucket.obs.la-south-2.myhuaweicloud.com"